  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Text:ital@0;1&family=Limelight&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        *{
            margin: 0;
            box-sizing: border-box;
            /* font-family: "DM Serif Text", serif; */


        }
        body{

            background-color: rgb(231, 231, 231);
            /* background-image: url(nuvens-brancas-em-um-ceu-azul.jpg); */
            /* background-color: rgb(231, 189, 133); */

            font-family: "DM Serif Text", serif;


        }
        .planofundo{
             background-image: url(terminal-aeroporto.jpg);
             background-size: 100%;

        }
        header{
            /* background-color: #003277; */
            background-color: #021E73;
            padding-bottom: 20px;
            box-shadow: 1px 2px 4px;
        }
        h1{
            margin-left: 5%;
            padding-top: 25px;
            color: white;
            font-size: 38px;
            display: flex;

            img{
                 width: 180px;
                margin-left: 270px;
                margin-top: -25px;
                position: absolute;
                box-shadow: none;
            }
        }
        nav{
            text-align: right;
            padding-right: 15px;
            margin-top: -34px;

             a{
            padding: 8px;
            text-decoration: none;
            font-size: 20px;
            color: white;
        }
        }

        a:hover{
            text-decoration: 2px overline;
        }
        button{
            padding: 4px 15px;
            background-color: #6401B7;
            color: white;
            font-family: "DM Serif Text", serif;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
        }
        button:hover{
            text-decoration: 1.5px underline;
        }
        .imagem{
            margin-top: -400px;

            &.imagem:hover{
                transform: rotateY(180deg);
                transition: 1.5s;
            }

        }
        .areacalculo{
            background-color: white;
            max-width:45%;
            margin-left: 10%;
            margin-right: auto;
            font-size: 22px;
            /* border: 1px solid; */
            text-align: start;
            padding: 50px;
            border-radius: 10px;

             h2{
                margin-top: -3vh;
                margin-left: 3vh;
            }

            input{
            border-radius: 5px;
            /* border: 2px solid blue; */
            padding: 5px 8%;
            color: black;
            border: 1px solid;
            font-size: 20px;
            z-index: 5;
        }
         input:hover{
                transform: translateY(-2px);
                transition: 0.1s;
            }

             ::placeholder{
                color: black;
                font-size: 12px;
                letter-spacing: 1px;
            }
            button{
                background-color: #6401B7;
                padding: 5px 20px;
                color: white;
                z-index: 2;

            }
            button:hover{
                transform: translateY(-2px);
                transition: 0.1s;
                text-decoration: underline 1px;
            }
            p{
                color: white;
                font-size: 27px;
                margin-top: -20px;
                margin-bottom: -20px;
                position: absolute;
                margin-left: 90vh;
                margin-top: -28vh;


            }
           a{
                /* color: antiquewhite; */
                font-size: 20px;
                color: rgb(231, 189, 133);
                /* text-decoration: none; */
            }
             a:hover{
                    color: rgb(236, 158, 56);
                    text-decoration: underline 1px;
                }

        }
        select{
            border: 2px solid #021E73;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;



            option{
                border-radius: 10px;
                color: #021E73;
                font-weight: bold;
                border: 5px solid black;
                background-color: white;
            }


        }

         .circulocalculo{
            width: 90vh;
            height: 35.5vh;
            background-color: #021E73;
            position: absolute;
            margin-left: 78vh;
            border-bottom-left-radius: 40vh;
            border-top-left-radius: 2vh;
            border-bottom-right-radius: 1vh;
            border-top-right-radius: 1vh;
            /* opacity: 90%; */
        }
        select:hover{
                transform: translateY(-2px);
                transition: 0.1s;
            }
        #formulario{
            background-color: white;
            max-width:45%;
            margin-left: 190px;
            /* margin-right: auto; */
            font-size: 22px;
            /* border: 1px solid; */
            text-align: start;
            padding: 50px;
            border-radius: 10px;

            h2{
                margin-top: -3vh;
                margin-left: 11vh;
            }

            input{
            border-radius: 5px;
            /* border: 2px solid blue; */
            padding: 5px 8%;
            color: black;
            border: 1px solid;
            font-size: 20px;
            z-index: 5;
        }
         input:hover{
                transform: translateY(-2px);
                transition: 0.1s;
            }

             ::placeholder{
                color: black;
                font-size: 12px;
                letter-spacing: 1px;
            }
            button{
                background-color: #6401B7;
                padding: 5px 20px;
                color: white;
                z-index: 2;

            }
            button:hover{
                transform: translateY(-2px);
                transition: 0.1s;
                text-decoration: underline 1px;
            }
            p{
                color: white;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: -20px;
                position: absolute;
                margin-left: 50vh;
                margin-top: -20vh;


            }
           a{
                /* color: antiquewhite; */
                font-size: 20px;
                color: rgb(231, 189, 133);
                /* text-decoration: none; */
            }
             a:hover{
                    color: rgb(236, 158, 56);
                    text-decoration: underline 1px;
                }
        }
         .circulologin{
            width: 47vh;
            height: 36vh;
            background-color: #6401B7;
            position: absolute;
            margin-left: 63.8vh;
            border-bottom-left-radius: 40vh;
            border-top-left-radius: 2vh;
            border-bottom-right-radius: 1vh;
            border-top-right-radius: 1vh;
            /* opacity: 90%; */
        }
        .inicial{
            display: flex;
        }
        .login{
            color: black;
        }


        .cinco{
            display: flex;
            margin-left: 5px;
            border: 1px solid red;
            max-width: 90px;
        }
        .dois{
            height: 20px;
            width: 5px;
            margin-left: 10px;
            margin-top: 20px;
            border-radius: 20px;
            background-image: linear-gradient(red,yellow,purple,green)

        }
        .um, .tres, .quatro{
            height: 20px;
            background-color: black;
            width: 5px;
            margin-left: 10px;
            margin-top: 20px;
            border-radius: 20px;
        }

        /* img{
            width: 500px;
            margin-top: -10px;
            margin-left: 1350px;
            border-radius: 8px;
            box-shadow: 1px 1px 10px 5px #021E73;
        }*/
        .franky{
            display: flex;
            margin-left: 75px;
            color: white;
            /* border: 1px solid red; */
            max-width: 350px;
            border-radius: 5px;
            color: black;
            margin-top: 50px;




            input{
            border-radius: 5px;
            /* border: 2px solid blue; */
            padding: 2.5px 18px;
            color: black;
            border: none;
            font-size: 18px;
            }

             ::placeholder{
                color: black;
                font-size: 15px;
                letter-spacing: 1px;
                font-size: 20px;
                font-family: "DM Serif Text", serif;
            }

        }
        input:hover{
            cursor: pointer;
        }

        footer{
            background-color: #021E73;
            height: 10vh;
            /* box-shadow: 0px 8px 25px  #021E73; */
            color: white;
            text-align: center;

        }
        .mais{
            margin-top: 10%;
            padding: 10px;
            font-size: 150%;
            font-family: "Bebas Neue", sans-serif;

             h3{
                color: black;
                text-align: center;
                margin-bottom: -15.5vh;
             }

        }
        .topicos{
            background-color: white;
            /* box-shadow: 0px 0px 25px 2px; */
            border-radius: 20px;
            padding: 0%;
            margin-top: 8%;
            width: 100%;
            height: 3%;
            display: flex;

            p{
                color: white;
                z-index: 2;
                margin-left: 13vh;
            }

            span{
                font-family: "Bebas Neue", sans-serif;

            }

            img{
                margin-left: 4%;
                z-index: 2;
            }

            img:hover{
            transform: translateY(-10px);
            transition: 0.2s;
            }
        }
        #atr42AZUL{
            width: 37.3%;
            position: absolute;
            margin-left: 62%;
            margin-top: -23%;
        }
        #atr42AZUL:hover{
            transform: translateY(-8%);
            transition: 0.4s;

        }

        #circuloint{
            width: 115vh;
            height: 24.3vh;
            background-color: #021E73;
            border-bottom-left-radius: 59vh;
            border-top-left-radius: 59vh;
            border-bottom-right-radius: 9vh;
            border-top-right-radius: 9vh;
            position: absolute;
            margin-left: 80vh;
            margin-top: vh;

            /* opacity: 50%; */
            /* clip-path: circle(); */

        }
    
        #circuloint02, #circuloint03{
            width: 150vh;
            height: 24.7vh;
            background-color: #021E73;
            border-bottom-left-radius: 59vh;
            border-top-left-radius: 59vh;
            border-bottom-right-radius: 9vh;
            border-top-right-radius: 9vh;
            position: absolute;
            margin-left: 37vh;
            margin-top: -9vh;
            box-shadow: 10px 10px 10px 10px ;
            /* opacity: 50%; */
            /* clip-path: circle(); */

        }
        .brb2{
            position: absolute;
            margin-left: -73.5vh;
            animation: ani 5s linear infinite;


        }
        .brb2:hover{
            transform: scale(55px);
        }
        #exp{
            color: #dba839;
            font-size:35px;
            transition: 3s;

        }
        #inf{
            background-color: #022daf;
            /* background-color: #48077e; */
            /* width: 25px;
            height: 25px; */
            padding: 25px;
            padding-right: 10%;
            /* text-align: start; */
            border-radius: 7px;
            transition: 3s;

        }
        .echo{
            color: white;
            margin-left: 5%;
            font-size: 25px;
        }
        .nome{
            color: #dba839;
        }
        /* @keyframes ani{
            to{
                transform: rotate(360deg);

            } */

